asgiref==3.7.2
backports.zoneinfo==0.2.1
Django==4.2.7
django-rest-framework==0.1.0
djangorestframework==3.14.0
django-simple-history==3.4.0
pip==23.3.1
pytz==2023.3.post1
setuptools==69.0.2
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
wheel==0.41.3
