<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ahmednts.scylla">

  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".MyApplication"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="1bf9f48f478149359ed4f007d6ff8757cc7e9c4f"/>

    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".KotlinActivity">
    </activity>
  </application>

</manifest>